<div class="example-container">
  <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameControl" type="text" />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput [formControl]="ageControl" type="number" />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Contact</mat-label>
      <input matInput [formControl]="contactControl" type="text" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add User</button>
  </form>
</div>
